/* Root variables for sizes */
:root {
  --header-height: 60px;
  --footer-height: 50px;
}

/* Reset defaults */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;  
  display: flex;
  justify-content: center;
  align-items: stretch; /* Ensures the content stretches vertically */
}

.header {
	background-color: #333;
	color: white;
	text-align: center;
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	background-color: #333;
	color: white;
	text-align: center;
	height: var(--footer-height);
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgb(32, 32, 32);		
}

/********************/
/*       VIDEO      */
/********************/

.video-container {
  height: 100vh; /* Set the height to the viewport height */
  width: 100%; /* Full width */
  display: flex; /* Flexbox for horizontal alignment of children */
  flex-direction: column; /* Stack children vertically */
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Enforce scroll snapping */
	scroll-behavior: smooth; /* Smooth scrolling */
  margin: 0;
  padding: 0;
}

.video-wrapper {	
  flex: 0 0 100%; /* Each child takes up 100% of the parent container */
  height: 100%; /* Explicitly set height for safety */
  scroll-snap-align: start;
	transition: transform 0.5s; /* Smooth transition for the transform property */
	align-content: center;	
	justify-items: center;
	display: grid;	
}

.placeholder {
	aspect-ratio: 16 / 9;
	width: 90%;		
	background-size: cover;
  grid-column: 1;
  grid-row: 1;
}

.current-video {
	aspect-ratio: 16 / 9;
	width: 90%;		
	object-fit: cover;
  grid-column: 1;
  grid-row: 1;
}